<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
  <div class="col-md-8">
    <div><a  ng-click="goBack()"><span class="icon-arrow-left2"></span></a> </div>
    <ul class="media-list" tab-pane fade in active>
      <li class="media" ng-repeat="file in files ">
        <div class="row" >

          <div class="col-md-1"><a  ng-href="#/files/{{file.Path}}" > <span ng-class="getFileIcon(file.Ext)"> </span> </a><br></div>
          <div class="col-md-11">
            <div class="row">

              <div ng-if="file.IsDirectory" class="col-md-10"> <a  ng-href="#/files/{{file.Path}}" > <h4>{{file.Name}}</h4> </a></div>

              <div ng-if="!file.IsDirectory"  class="col-md-10"> <a  ng-click="showFile(file.Path)" > <h4>{{file.Name}}</h4> </a></div>

              <div class="col-md-1"><span  class="icon-cloud-download" ng-click="download(file.Path, file.IsDirectory)" > </span> </div>
              <div class="col-md-1"><span  class="icon-bin" ng-click="delete(file.Path)" > </span> </div>
            </div>

            <div class="row">
              <div class="col-md-4"> <h6>{{file.Mtime}}</h6> </div>
              <div class="col-md-4"> <h6>{{file.Size}}</h6> </div>
              <div class="col-md-4">
                <div class="progress hidden">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" name="{{format(file.Name)}}" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >

                  </div>
                </div>
              </div>
            </div>

            <hr>
          </div>

        </div>


      </li>
    </ul>

  </div>
  <div class="col-md-4">
    ADS
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
